#nav-logo {
    width : 5rem;
}

.section{
    text-align:center;
}

.rubik {
    font-family: 'Rubik', sans-serif;
}



@media screen and (max-width : 768px) {
    /* .sub-logo {
        font-size: .5rem;
    } */
}

/* #section2{
    background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636F8F));
    background: -webkit-linear-gradient(#969AC6, #636F8F);
    background: linear-gradient(#969AC6,#636F8F);
} */
